@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

// colors
$grey-1: #454545;
$grey-2: #C1C1C4;
$grey-3: #BDBDBD;
$grey-4: #FAFAFE;
$grey-5: #E0E0E0;
$grey-6: #828282;
$grey-7: #34333A;
$grey-8: #F2F2F2;

$dark-1: #000;
$dark-2: #34333A;

$light-1: #FFFFFF;
$yellow-1: #F9A109;
$yellow-2: #FFF0DE;

$accent-1: #80485B;
$blue-1: #56CCF2;
$blue-1-lighter: #BEEFFF;
$danger-1: #EB5757;

// fonts
$font-1: 'Quicksand', sans-serif;

// font-sizes
$s12: 12px;
$s14: 14px;;
$s16: 16px;
$s18: 18px;
$s20: 20px;
$s24: 24px;
$s26: 26px;

// padding
$padding : 30px 6% 80px;
$padding-2: 30px 6% 160px;