@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

// colors
$grey-1: #454545;
$grey-2: #C1C1C4;
$grey-3: #BDBDBD;
$grey-4: #FAFAFE;

$dark-1: #000;
$dark-2: #34333A;

$light-1: #FFFFFF;
$yellow-1: #F9A109;
$yellow-2: #FFF0DE;

$accent-1: #80485B;
$blue-1: #56CCF2;
$danger-1: #EB5757;

// fonts
$font-1: 'Quicksand', sans-serif;