@use 'variables';

.add-item-card {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 100%;
    justify-content: space-between;
    padding: 30px 44px 34px;
    background-color: variables.$grey-4;
    position: relative;

    &--edit {
        position: absolute;
        left:0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 100;
    }

    &__main {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        height: 100%;
        overflow-y: auto;  
        padding-bottom: 128px;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__tag {
        color: variables.$dark-2;
        font-size: variables.$s14;
        font-family: variables.$font-1;
        margin-bottom: 6px;
        display: block;
    }  

    &__list {
        visibility: hidden;
        margin-top: 12px;
        border-radius: 12px;
        border: 1px solid variables.$grey-5;
        padding: 6px 8px;
        background-color: variables.$light-1;
    }

    &__list-item {
        font-family: variables.$font-1;
        color: variables.$grey-6;
        font-size: variables.$s18;
        border-radius: 12px;
        padding: 10px 24px;

        &:hover, &:focus {
            visibility: visible;
            color: variables.$grey-7;
            background-color: variables.$grey-8;
        }
    }
}

.heading {
    font-family: variables.$font-1;
    color: variables.$dark-1;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 500px) {
    .add-item-card {
        padding: 24px 18px 30px;
    }
}