@use 'variables';

.btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 34px 0px;
    background-color: variables.$light-1;
    z-index: 1; 

    &--grey {
        background-color: variables.$grey-4;
    }

    &--box {
        position: static;
        width: auto;
        padding: 0;
    }
}

.btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn {
    font-size: variables.$s16;
    font-family: variables.$font-1;
    font-weight: 700;
    line-height: 20px;
    padding: 20px 26px;
    border-radius: 12px;
    background-color: transparent;
    color: variables.$dark-2;
    border: none;
    outline: none;

    &:hover {
        cursor: pointer;
    }

    &--bright-text {
        color: variables.$yellow-1; 
        font-size: variables.$s14;
        align-self: flex-start;
        padding: 0px 0px;
        position: relative;
        height: 44px;
    }

    &--blue-text {
        color: variables.$accent-1; 
        font-size: variables.$s14;
        align-self: flex-start;
        padding: 0px 0px;
        position: relative;
        height: 44px;
    }

    &--bright {
        background-color: variables.$yellow-1;
        color: variables.$light-1;
    }

    &--blue {
        background-color: variables.$blue-1;
        color: variables.$light-1;
    }

    &--blue-lighter {
        background-color: variables.$blue-1-lighter;
        color: variables.$light-1; 
    }

    &--bright-input {
        background-color: variables.$yellow-1;
        color: variables.$light-1;
        position: absolute;
        border: none;
        right: 44px;
        padding: 18px 26px;
    }

    &--grey-input {
        background-color: variables.$grey-2;
        color: variables.$light-1; 
        position: absolute;
        border: none;
        right: 44px;
        padding: 18px 26px; 
    }

    &--narrow {
        height: 40px;
        background-color: variables.$light-1;
        padding: 0px 26px;
        font-size: variables.$s14;
    }

    &--arrow {
        position: absolute;
        right: 10px;
    }

    &--arrow, &--arrow > a {
        padding: 0;
        color: variables.$yellow-1;
    }

    &--danger {
        background-color: variables.$danger-1;
        color: variables.$light-1;
    }
}

.arrow {
    transform: rotate(180deg);
    position: relative;
    top: 8px;
}

@media only screen and (max-width: 500px) {
    .btns {
        padding: 16px 0;
    }
    .btn {
        font-size: variables.$s14;
        &--bright-input, &--grey-input {
            right: 16px;
        }
    }
}

@media only screen and (max-height: 500px) {
    .btns {
        z-index: 9;
    }
}