@use 'variables';

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 90px;

    &__logo {
        width: 60px;
    }
}

.nav {
    &__list {
        list-style: none;
    }
    &__link {
        text-align: center; 
        color: variables.$grey-1;  
    }
}

.icon {
    color: variables.$grey-1;  
    padding: 10px;
    margin: 30px auto; 
    display: block;
    position: relative;
    
    &::before {
        content: '';
        position: absolute;
        width: 6px;
        height: 100%;
        background-color: transparent;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        left: 0;
        top: 0;
    }

    &--with-bg {
        background: variables.$yellow-1;
        border-radius: 50%;
        color: variables.$light-1;
        box-sizing: content-box;
    }

    &--selected {
        &::before {
            content: '';
            position: absolute;
            width: 6px;
            height: 100%;
            background-color: variables.$yellow-1;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            left: 0;
            top: 0;
        }
    }
}
