@use 'variables';

.subheading {
    font-size: 1.5rem;
    font-family: variables.$font-1;
    color: variables.$dark-2;
    align-self: flex-start;
    width: 100%;
    position: relative;

    &__icon {
        position: absolute;
        right: 0;
        top: 4px;

        &:hover {
            cursor: pointer;
        }
    }

    &--no-items {
        text-align: center;
    }

    &--items {
        font-size: variables.$s18;
        margin-bottom: 20px;
    }

    &--date {
        font-size: variables.$s12;
        color: variables.$dark-1;
        margin-bottom: 20px;
    }

    &--history-item {
        font-size: variables.$s16;
        line-height: 20px;
    }

    &--list {
        font-size: variables.$s14;
        color: variables.$grey-6;
        margin-bottom: 25px;
    }
}

.heading{
    font-size: variables.$s26;
    font-family: variables.$font-1;
    color: variables.$dark-2;
    padding: 10px 0;
    margin-right: 60px;

    &__detail {
        color: variables.$yellow-1;
    }
}