@use 'variables';

.history {
    background-color: variables.$grey-4;
    width: calc(100vw - 480px);
    padding: 30px 80px 80px;
    overflow-y: auto;  
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }
    
    &__header {
        margin: 0px 0px 60px;
    }
}
