@use 'variables';

.history {
    background-color: variables.$grey-4;
    width: 100%;
    padding: variables.$padding;
    overflow-y: auto;  
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &__item {
        position: relative;
        padding-right: 60px;
    }

    &::-webkit-scrollbar {
        display: none;
    }
    
    &__header {
        margin: 0px 0px 60px;
    }

    &__months {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }
}


@media only screen and (max-width: 1100px) {
    .history {
        padding: variables.$padding-2;

        &__item {
            flex-wrap: wrap;
            row-gap: 10px;
        }
    }
}