@use 'variables';

.inpt {
    border: 2px solid variables.$grey-3;
    border-radius: 12px;
    color: darken(variables.$grey-3, 30%);
    font-family: variables.$font-1;
    padding: 18px 22px;
    width: 100%;
    background-color: transparent;
    font-size: variables.$s14;
    outline: none;
    padding-right: 60px;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: variables.$grey-3;
        opacity: 1; /* Firefox */
      }
      
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: variables.$grey-3;
        opacity: 1; /* Firefox */
      }      

    &--bright {
        border: 2px solid variables.$yellow-1;
    }

    &--search {
        padding: 15px 14px;
        padding-left: 50px;
        border: 2px solid transparent;
        width: 275px;
        background-color: variables.$light-1;
    }

    &:focus, &:hover {
        border: 2px solid variables.$yellow-1;
    }


    &--select {
        &:hover + ul, &:focus + ul {
            visibility: visible;
        }
    }
}

.inpts {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 34px 44px;
    background-color: variables.$light-1;
    justify-content: center;
}

.search-bar {
    position: relative;
}
.search-bar__icon {
    color: variables.$grey-1;  
    position: absolute;
    left: 18px;
    margin: 15px 0;
}

@media only screen and (max-width: 500px) {
    .inpts {
        padding: 16px;
    }
}