@use 'variables';

.items {
    background-color: variables.$grey-4;
    width: 100%;
    padding: variables.$padding;
    overflow-y: auto;  
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }

    &__header {
        margin: 0px 0px 60px;
        display: flex;
        flex-direction: row;
    }

    &__items {
        display: flex;
        flex-direction: row;
        row-gap: 30px;
        column-gap: 20px;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    &__item {
        background-color: variables.$light-1;
        border-radius: 12px;
        padding: 15px 16px;
        padding-right: 46px;
        position: relative;
        font-family: variables.$font-1;
        color: variables.$dark-1;
        font-size: variables.$s16;
        width: 182px;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            cursor: pointer;
        }

        &--history {
            &:hover {
                cursor: zoom-in;
            }
        }
    }

    &__icon {
        color: variables.$grey-2;
        position: absolute; 
        right: 16px;
        top: 13px;
    }

    &__categories {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }
}

@media only screen and (max-width: 1100px) {
    .items {
        padding: variables.$padding-2;
        
        &__header {
            flex-wrap: wrap;
        }
    }
}

@media only screen and (max-width: 500px) {
    .items {
        padding: variables.$padding-2;
        
        &__categories {
            row-gap: 30px;
        }

        &__items {
            column-gap: 9px;
            row-gap: 24px;
        }
        
        &__header {
            display: none;
        }

        &__item {
            font-size: variables.$s14;
            width: 140px;
        }
    }
}