@use 'variables';

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

.message {
    padding: 10px;
    margin: 10px 0;
    margin-right: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    bottom: 10px;
    z-index: 102;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    & p {
        font-family: variables.$font-1;
        font-size: variables.$s16;
        padding: 0px 10px;
    }

    &--error {
        background-color: variables.$danger-1;
        color: variables.$light-1;

        &--full-width {
            background-color: variables.$danger-1;
            color: variables.$light-1;
            position: absolute;
            left: 14px;
            right: 14px;
        }
    }

    &--success {
        background-color: variables.$blue-1-lighter;
        color: variables.$grey-7;

        &--full-width {
            background-color: variables.$blue-1-lighter;
            color: variables.$grey-7;
            position: absolute;
            margin: 0 20px;
            left: 14px;
            right: 14px;
        }
    }
}

