@use 'variables';

.pieces {
    border: 2px solid variables.$yellow-1;
    font-family: variables.$font-1;
    color: variables.$yellow-1;
    font-size: variables.$s12;
    border-radius: 24px;
    padding: 7px 20px;

    &:hover {
        cursor: pointer;
    }
    
    &--simple {
        border: none;
        position: absolute; 
        right: 16px;
        top: 16px;
        padding: 0;

        &:hover {
            cursor: zoom-in;
        }
    }

    &--unclickable, &--panel {
        &:hover {
            cursor: zoom-in;
        } 
    }

    &__panel {
        display: flex;
        flex-direction: row;  
        background-color: variables.$light-1;
        border-radius: 12px;
        justify-content: space-between;
        padding: 7px;
        padding-left: 40px;
        align-items: center;
        position: relative;
        width: 200px;
    }

    &__icon {
        color: variables.$yellow-1;
        margin: 4px;

        &:hover {
            cursor: pointer;
        }

        &--bright {
            color: variables.$light-1;
            background-color: variables.$yellow-1;
            border-radius: 12px;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: 0;
            width: 37px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--inside {
            padding: 1px;
        }
    }
}