@use 'variables';

.statistics {
    background-color: variables.$grey-4;
    width: 100%;
    padding: variables.$padding;
    display: flex;
    flex-direction: column;
    row-gap: 65px;
    overflow-y: auto;  
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }

    &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 100%;
        column-gap: 65px;
    }
}

@media only screen and (max-width: 1100px) {
    .statistics {
        padding: variables.$padding-2;

        &__top {
            row-gap: 65px;
            flex-direction: column;
            align-items: center;
        }
    }

    .top-statistics {
        width: 400px;
    }
}

@media only screen and (max-width: 500px) {
    .statistics {
        padding: variables.$padding-2;

        &__top {
            row-gap: 65px;
            flex-direction: column;
            align-items: center;
        }
    }
    .top-statistics {
        width: 100%;
    }
}